#over
  #gallery.photos
    .photo
      .desk
        %h2 Contact
        %p Via Vecchia Fiesolana 11
        %p 50014 Fiesole - FI - Italy
        %p 
          email: 
          - link_to "elisabetta.porcinai@gmail.com", "mailto:elisabetta.porcinai@gmail.com"
          
        %p.small.distant
          Web presence by 
          - link_to "makevoid", "http://makevoid.com"