#nav2
  %ul
    %li
      - link_to "See Me Not",           "/editorial/see_me_not"
    %li
      - link_to "Teen Dream",           "/editorial/teen_dream"
    %li
      - link_to "Displaced",            "/editorial/displaced"
    %li
      - link_to "Lost Highway",          "/editorial/lost_highway"
    %li
      - link_to "Ophelia",              "/editorial/ophelia"
    %li
      - link_to "Grand Hotel Lynch",              "/editorial/grand_hotel_lynch"
    %li
      - link_to "Pauline",                        "/editorial/pauline"
    %li
      - link_to "Much Madness is Divinest Sense", "/editorial/much_madness_is_divinest_sense"
    %li
      - link_to "Faith and Ambiguity",            "/editorial/faith_and_ambiguity"
