%p.space
  Website temporarily under renovation. 
%p 
  For the moment please find me on my 
  %a{ href: "http://elisabetta-porcinai.tumblr.com" } Diary

/

  #home
    %a{ href: "/editorial"}
      %img{ src: "/photos/home.jpg" }
    
    