#over
  #gallery.photos
    .photo
      .desk.links
        %h2 Links
        - link_to "Publication on Up-and-Coming Style", "http://www.upandcomingstyle.com/archives/976"
        - link_to "Publication on DeluxxDigital", "http://issuu.com/deluxxdigital.com/docs/deluxxdigitalissue12/155"
        